body {
	background-color: #edf2f5;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin: -10px;
}

.header-img {
	background-color: #edf2f5;
	padding: 20px;
	padding-left: 130px;
}

.container {
	padding: 20px;
	font-size: 20px;
	background-color: #3d3d3d;
	width: 100%;
	padding-left: 130px;
	  position: -webkit-sticky;
  position: sticky;
  top: 0;	
}

.container p {
	display: inline;
	color: white;
}

.nav-links {
	margin-right: 20px;
}

.break {
	flex-basis: 100%;
	height: 0;
}

#header-logo {
	width: 25%;
}

a {
	text-decoration: none;
	color: white;
}

li {
	list-style-type: none;
}

.body-content {
	padding: 120px;
}

.park-list {
	padding-bottom: 155px; 
	display: grid;
	align-items: start;
	width: 100%;
	grid-template-columns: 50% 40%;
	grid-row-gap: 10px;
	background-color: #edf2f5;
	color: #444;
}

.park-picture {
	width: 93%;
	border-radius: 5px;
}

.park-picture-details {
	width: 100%;
	border-radius: 5px;
}

.details-block {
	display: block;
	text-align: left;
}



.home-name {

	font-family: 'Francois One', sans-serif;
}

.home-description {
	font-size: 16px; 
	line-height: 1.5em;
}


.activity-level {
	padding-bottom: 155px; 
	display: grid;
	align-items: start;
	width: 100%;
	grid-template-columns: 50% 40%;
	grid-row-gap: 10px;
	background-color: #edf2f5;
	color: #444;
}
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

form:label {
	border: 2px solid #ccc;
    border-radius: 5px;
    width: 260px;
}

.form-format {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.radio {

}

input[type="radiobutton"] {
	float: left;
}

input[type=text] {
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 260px;
}

#submit {
    padding:5px 15px; 
    background: #3d3d3d;
    color: white;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
}

.errors {
	color: red;
}

.more-info {
	display: flex;
	flex-direction: row;
}

.flex-details {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}

.flex {
	display: flex;
	flex-direction: row;
	align-items: start;
	width: 100%;
	flex-wrap: wrap;
}

.weather {
	display: flex;
	flex-direction: row;
}

.weather-toggle-today {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}

.det {
	width: 20%; 
}

.today-temp-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.high-low {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.quote {
	text-align: center;
	font-family: 'Alex Brush', cursive;
	font-size: 26px;
}

.panel {
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
  border: 1px solid #22d;
  padding: 12px;
  width: 500px;
  text-align: center;
}

.button {
  font: 22px "Open Sans", Helvetica, Arial, sans-serif;
  padding: 5px 36px;
}

h4 {
  margin-top: 0;
  font-size: 175%;
}

.park-favorites {
	display: flex;
	flex-direction: column;
  	color: #444;
  	justify-content: center;
 	padding: 25px 10px 0px 10px;
}

.fav-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 10px;
}

.fav-item > div {
	width: 30%;
}

.rating {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fav-name {
	display: flex;
	align-items: center;
}

.fav-img img {
	width: 100%;
	object-fit: contain;
}
.fav {
	width: 20%;
	display: inline;
}

.survey-value {
	display: inline;
}
